.footer {
    max-width: 100%;
    background-color: red;
    margin: auto;
    .footer__container {
        background-color: #24262b;
        background-image: linear-gradient(to top, #3c3c3c 0, #222 100%);
        padding: 50px 0;
        .footer__container--row {
            display: flex;
            flex-wrap: wrap;
            .footer__container--col {
                width: 23%;
                padding: 0 15px;
                h4 {
                    font-size: 18px;
                    color: #ffffff;
                    text-transform: uppercase;
                    margin-bottom: 30px;
                    font-weight: 500;
                    position: relative;
                    ::before {
                        content: "";
                        position: absolute;
                        left: 0;
                        bottom: -10px;
                        background-color: #e91e63;
                        height: 2px;
                        box-sizing: border-box;
                        width: 50px;
                    }
                }
                ul {
                    list-style-type: none;
                    margin: 0;
                    padding: 0;

                    li:not(:last-child) {
                        margin-bottom: 10px;
                    }
                    li {
                        a {
                            font-size: 16px;
                            text-transform: capitalize;
                            color: #ffffff;
                            text-decoration: none;
                            font-weight: 300;
                            color: #bbbbbb;
                            display: block;
                            transition: all 0.3s ease;
                        }
                        :hover {
                            color: #ffffff;
                            padding-left: 10px;
                        }
                    }
                }
                .social-links {
                    a {
                        display: inline-block;
                        height: 40px;
                        width: 40px;
                        background: rgba(255, 255, 255, 0.2);
                        margin: 0 10px 10px 0;
                        text-align: center;
                        line-height: 40px;
                        border-radius: 50px;
                        color: #ffffff;
                        transition: all 0.3 ease;
                    }
                    :hover {
                        color: #24262b;
                        background-color: #ffffff;
                    }
                }
            }
        }
    }
}
@media (max-width: 767px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}
@media (max-width: 574px) {
    .footer-col {
        width: 100%;
    }
}
